<footer class="footer " *ngIf="nav.visible">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.facebook.com">
                        CONTACT US
                    </a>
                </li> 
                <li>
                    <a href="http://www.facebook.com">
                        About Us
                    </a>
                </li> 
            
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by
            <a href="https://www.facebook.com" target="_blank">Group 10</a> for a better future for farmers.
        </div>
    </div>
</footer>
