<div id="login">   
  <h3>
      <!-- <a [routerLink]="['/dashboard']" class="simple-text"> -->
    <a class="simple-text">
      <div class="logo-img">
          <img src="/assets/img/farmer.png"/>
      </div>
      Pick My Crop
    </a>
  </h3>
  
  <form #userLogInForm="ngForm">
  
    <div class="field-wrap">
      <label data-error="Required Field!">
        User Name<span class="req">*</span>
      </label>
      <input type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" required />
    </div>
  
  <div class="field-wrap">
    <label>
      Password<span class="req">*</span>
    </label>
    <input type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required />
  </div>
  <div *ngIf="isLogginError" class="red-text center error-message" style="color: rgb(182, 7, 7);">
    <i class="material-icons">error</i>Incorrect UserName or Password
  </div>
  <p class="forgot"><a href="#">Forgot Password?</a></p>
  
  <button class="button button-block" (click)="OnSubmit(UserName.value,Password.value)">Log In</button>
  
  </form>

</div>