<div class="loading">
  <ngx-loading [show]="loading" [config]="{animationType: ngxLoadingAnimationTypes.cubeGrid,
     primaryColour: primaryColour, backdropBorderRadius: '3px',fullScreenBackdrop: true}"
    [template]="loadingTemplate"></ngx-loading>
</div>
<div id="signup">   
  <h1>Sign Up for Free</h1>
  
  <form class='signup' #userRegistrationForm="ngForm">
  
  <div class="top-row">
    <div class="field-wrap">
      <label>
        First Name<span class="req">*</span>
      </label>
      <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName" required autocomplete="off" />
    </div>

    <div class="field-wrap">
      <label>
        Last Name<span class="req">*</span>
      </label>
      <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName" required autocomplete="off"/>
    </div>
  </div>

  <div class="field-wrap">
    <label>
      Email Address<span class="req">*</span>
    </label>
    <input type="email"  name="Email" #Email="ngModel" [(ngModel)]="user.Email" required autocomplete="off"/>
  </div>
  <div class="field-wrap">
      <label data-error="Required Field!">
        User Name<span class="req">*</span>
      </label>
      <input type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" required />
    </div>
  
  <div class="field-wrap">
    <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 6 characters needed'):''">
      Set A Password<span class="req">*</span>
    </label>
    <input type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required autocomplete="off"/>
  </div>
  
  <button  class="button button-block" (click)="OnSubmit(userRegistrationForm)">Get Started</button>
  
  </form>

</div> 