<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-success">
                      <h4 class="card-title ">Top Prices/ඉහළ මිල ගණන්</h4>
                      <p class="card-category">According to Vegetable/
                        එළවළු අනුව</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID/අංකය
                                  </th>
                                  <th>
                                      Vegetable Name/
                                      එළවළු නම
                                  </th>
                                  <th>
                                      Farmer's Name/
                                      ගොවියාගේ නම
                                  </th>
                                  <th>
                                      City/
                                      නගරය
                                  </th>
                                  <th>
                                      Price (Rs pkg)/
                                      මිල
                                  </th>
                              </thead>
                              <tbody *ngFor="let i of vegListValue " >
                                  <tr>
                                      <td>
                                        {{i.ID}}
                                      </td>
                                      <td>
                                          {{i.vegName}}
                                      </td>
                                      <td>
                                        {{i.farmerName}}
                                      </td>
                                      <td>
                                        {{i.city}}
                                      </td>
                                      <td class="text-primary">
                                        {{i.price}}
                                      </td>
                                  </tr>
                                 
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title ">Top Prices/ඉහළ මිල ගණන්</h4>
                    <p class="card-category">According to Price/
                    මිල අනුව</p>
                </div>
                  <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    ID/අංකය
                                </th>
                                <th>
                                    Vegetable Name/
                                    එළවළු නම
                                </th>
                                <th>
                                    Farmer's Name/
                                    ගොවියාගේ නම
                                </th>
                                <th>
                                    City/
                                    නගරය
                                </th>
                                <th>
                                    Price (Rs pkg)/
                                    මිල
                                </th>
                            </thead>
                            <tbody *ngFor="let i of vegListValuePrice " >
                                <tr>
                                    <td>
                                      {{i.ID}}
                                    </td>
                                    <td>
                                        {{i.vegName}}
                                    </td>
                                    <td>
                                      {{i.farmerName}}
                                    </td>
                                    <td>
                                      {{i.city}}
                                    </td>
                                    <td class="text-primary">
                                      {{i.price}}
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
